*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}
[lang="fa-IR"]{
    direction: rtl !important;
}
[lang="en"]{
    direction: ltr !important;
}
